@use "../../styles/variables.scss" as *;

.box {
  position: relative;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    filter: brightness(1.3);
  }

  & > a {
    color: inherit !important;
  }
}

.image {
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.price {
  display: flex;
  justify-content: center;
  gap: $spacer * 2;
}

.title {
  text-align: center;
}

.cart_button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
  margin: $spacer * 6 auto;
  color: $accent;
  text-align: center;
  text-decoration: none;

  @include no-touch() {
    display: none;
  }
}

.onDrag {
  opacity: 0.1;
}
