*,
::after,
::before {
  box-sizing: border-box;
}

body {
  --toastify-color-error: #{$error};
  background: $bg;
  color: $primary;
}

// Layout
.container {
  max-width: 1240px + $spacer * 10;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacer * 5;
  padding-left: $spacer * 5;

  @include media-bp-down(desktop) {
    padding-right: $spacer * 2;
    padding-left: $spacer * 2;
  }
}
// End Layout

// Helpers
.d-desktop-none {
  @include media-bp-up(desktop) {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
// End Helpers

// Common
a {
  &,
  &:link,
  &:visited {
    color: $accent;
    text-decoration: none;
    transition: color 0.25s;
  }

  &:hover,
  &:active {
    color: $primary;
  }
}

.input_size_default,
.input__container {
  @include media-bp-down(tablet) {
    width: 100%;
  }
}
// End Common

// .custom-scroll - react-developer-burger-ui-components/src/ui/common.css
.custom-scroll,
.body {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid #2f2f37;
    border-radius: 0;
  }
}
