// Colors interface
$bg: #131316;
$modalBg: #1c1c21;
$accent: #4c4cff;
$modalEdge: rgba($accent, 0.2);
$input: #2f2f37;
$success: #00cccc;
$error: #e52b1a;
$black: #000000;

// Colors text
$primary: #f2f2f3;
$secondary: #8585ad;
$disabled: #3a3a55;

// Spacer
$spacer: 4px;

// z-index
$zModalOverlay: 2000;
$zModal: 2010;

// Animations
@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin modal-animation($time: 0.3s) {
  animation: openModal $time;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@mixin media-bp-up($breakpoint) {
  @if $breakpoint == desktop {
    @media screen and (min-width: 1138px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (min-width: 560px) {
      @content;
    }
  }
}

@mixin media-bp-down($breakpoint) {
  @if $breakpoint == desktop {
    @media screen and (max-width: 1137px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (max-width: 559px) {
      @content;
    }
  }
}
