@use "../../styles/variables.scss" as *;

$closeSize: 18px;
$inlineFieldsSpacer: $spacer * 10;
$topFieldsSpacer: $spacer * 10;
$bottomFieldsSpacer: $spacer * 15;

:global(.modal-opened) {
  overflow: hidden;
}

.modal {
  $vSpaser: $spacer * 5;

  @include modal-animation();
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: $zModal;

  &__inner {
    min-height: calc(100% - #{$vSpaser * 2});
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $vSpaser;

    @include media-bp-down(tablet) {
      display: block;
      min-height: 100vh;
      margin: 0;
      background: $bg;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: 720px;
    padding: $topFieldsSpacer $inlineFieldsSpacer $bottomFieldsSpacer;
    background: $modalBg;

    @include media-bp-up(tablet) {
      border: 1px solid $modalEdge;
      border-radius: $spacer * 10;
    }

    @include media-bp-down(tablet) {
      padding: $topFieldsSpacer / 2 $inlineFieldsSpacer / 2 $bottomFieldsSpacer / 2;
      background: $bg;
    }

    &_withoutHeader {
      padding-top: $spacer * 30;
      padding-bottom: $spacer * 30;
    }
  }
}

.close {
  position: absolute;
  top: $spacer * 13;
  right: $spacer * 10;
  width: $closeSize;
  height: $closeSize;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.25s;
  }

  &:hover {
    svg {
      transform: scale(1.15);
    }
  }

  @include media-bp-down(tablet) {
    top: $spacer * 6.5;
    right: $spacer * 5;
  }
}

.header {
  margin-right: ($spacer * 15 - $inlineFieldsSpacer) + $closeSize;

  @include media-bp-down(tablet) {
    margin-right: ($spacer * 12 - $inlineFieldsSpacer) + $closeSize;
    margin-bottom: 13vh;
    font-size: 28px;
  }
}
