@use "../../styles/variables.scss" as *;

$closeSize: 18px;
$inlineFieldsSpacer: $spacer * 10;
$topFieldsSpacer: $spacer * 10;
$bottomFieldsSpacer: $spacer * 15;

:global(.modal-opened) {
  overflow: hidden;
}

.modal {
  $vSpaser: $spacer * 5;

  @include modal-animation();
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: $zModal;

  &__inner {
    min-height: calc(100% - #{$vSpaser * 2});
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $vSpaser;
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: 720px;
    padding: $topFieldsSpacer $inlineFieldsSpacer $bottomFieldsSpacer;
    background: $modalBg;
    border: 1px solid $modalEdge;
    border-radius: $spacer * 10;
  
    &_withoutHeader {
      padding-top: $spacer * 30;
      padding-bottom: $spacer * 30;
    }
  }
}

.close {
  position: absolute;
  top: $spacer * 13;
  right: $spacer * 10;
  width: $closeSize;
  height: $closeSize;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.25s;
  }

  &:hover {
    svg {
      transform: scale(1.15);
    }
  }
}

.header {
  margin-right: ($spacer * 15 - $inlineFieldsSpacer) + $closeSize;
}
