@use "../../styles/variables.scss" as *;

.box {
  position: relative;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    filter: brightness(1.3)
  }
}

.image {
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.price {
  display: flex;
  justify-content: center;
  gap: $spacer * 2;
}

.title {
  text-align: center;
}