@use "../../styles/variables.scss" as *;

.header {
  padding: $spacer * 4 0;
  background: $modalBg;

  @include media-bp-down(tablet) {
    padding: $spacer * 2 0;
  }

  &__container {
    display: grid;
  }

  &__logo {
    grid-area: 1 / 1 / -1 / -1;

    a {
      position: relative;
      top: 4px;
      z-index: 10;
    }

    @include media-bp-up(desktop) {
      text-align: center;
    }
  }

  &__navbar {
    grid-area: 1 / 1 / span 1 / span 1;
  }
}
